.username {
  text-align: center;
  color: #CACACA;
}

.me-div {
  text-align: center;
}

.me-div img {
  width: 98%;
  margin-top: 3px;
}

.cb-table {
  margin: 10px;
}

table {
  font-size: 12px;
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
}

.cb-table td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}